.subtitler-editor {
    position: relative;
    width: 100%;
    &-firstline {
        width: 100%;
        height: 38px;
        display: flex;
        align-items: flex-end;
        .left {
            display: flex;
            align-items: center;
            width: 200px;
            padding-right: 10px;
            font-size: 0.75rem;
            .play {
                width: 38px;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                svg {
                    width: 12px;
                    transition: fill 0.2s ease-out;
                    opacity: 1;
                }
            }
            .range-buttons {
                display: flex;
                align-items: center;
                margin-left: 12px;
                .arrow {
                    display: block;
                    width: 10px;
                    height: 10px;
                    opacity: 0.15;
                }
                .range-button {
                    position: relative;
                    display: block;
                    padding: 5px 8px 7px 8px;
                    border-radius: 4px;
                    font-weight: 600;
                    cursor: pointer;
                    &:first-child {
                        margin-right: 8px;
                    }
                    &:nth-child(3) {
                        margin-left: 8px;
                    }
                    &:hover {
                        color: black;
                    }
                    &.disabled {
                        opacity: 0.25;
                        pointer-events: none;
                    }
                    &.active {
                        padding-right: 15px;
                        &:after {
                            position: absolute;
                            content: '';
                            right: 4px;
                            bottom: 4px;
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        .right {
            width: calc(100% - 200px);
            height: calc(100% - 3px);
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-top: 3px;
            padding-right: 12px;
            font-size: 0.75rem;
        }
    }
    &-timelines {
        .timeline {
            width: 100%;
            height: 44px;
            background: white;
            display: flex;
            .left {
                display: flex;
                align-items: center;
                width: 200px;
                font-size: 0.75rem;
                .tick-wrapper {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .tick {
                        width: 14px;
                        height: 14px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        svg {
                            width: 8px;
                            height: 8px;
                        }
                    }
                }
                .name {
                    width: calc(100% - 80px);
                }
                .count-wrapper {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .count {
                        padding: 2px 5px;
                        border-radius: 4px;
                    }
                }
            }
            .right {
                width: calc(100% - 200px);
                display: flex;
                align-items: center;
                .subs {
                    position: relative;
                    width: 100%;
                    height: 30px;
                    .sub {
                        position: absolute;
                        top: 0;
                        height: 100%;
                        border-radius: 4px;
                        padding: 3px 5px;
                        font-size: 0.75rem;
                        &:nth-child(2) {
                            left: 120px;
                        }
                    }
                }
            }

            .left, .right {
                > * {
                    transition: opacity 0.2s ease-out;
                }
            }

            &.inactive {
                .left, .right {
                    > * {
                        opacity: 0.2;
                    }
                }
                &:hover {
                    .left, .right {
                        > * {
                            opacity: 1;
                        }
                    }
                }
            }
            &:not(.active) {
                .tick { 
                    transition: border 0.15s ease-out;
                }
            }
        }
    }
    &-progress {
        position: absolute;
        top: 0;
        left: 200px;
        width: calc(100% - 200px);
        height: 100%;
        pointer-events: none;
        z-index: 3;
        .bar {
            position: relative;
            width: 0%;
            height: 100%;
            border-top: 4px solid $vibrant-blue;
            border-right: 1px dashed $vibrant-blue;
            .handle {
                position: absolute;
                width: 14px;
                height: 14px;
                background: $vibrant-blue;
                right: 0;
                top: -2px;
                border-radius: 50%;
                transform: translate(50%, -50%);
                pointer-events: auto;
                cursor: ew-resize;
                &:hover {
                    transform: translate(50%, -50%) scale(1.1);
                }
            }
            .current-time {
                position: absolute;
                right: 0;
                transform: translateX(50%);
                top: 8px;
                background: $vibrant-blue;
                padding: 2px 5px;
                font-size: 0.75rem;
                color: white;
                border-radius: 2px;
                min-width: 35px;
                text-align: center;
                &:after {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(0, 0, 0, 0);
                    border-bottom-color: $vibrant-blue;
                    border-width: 3px;
                    margin-left: -3px;
                }
            }
        }
    }
    &-range {
        position: absolute;
        top: 0;
        left: 200px;
        width: calc(100% - 200px);
        height: 100%;
        pointer-events: none;
        z-index: 2;
        .start, .end {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            &-time {
                position: absolute;
                right: 0;
                transform: translateX(50%);
                top: 12px;
                padding: 2px 5px;
                font-size: 0.75rem;
                color: white;
                border-radius: 2px;
                min-width: 35px;
                text-align: center;
                &:after {
                    bottom: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(0, 0, 0, 0);
                    border-width: 3px;
                    margin-left: -3px;
                }
            }
        }
    }
}