.subtitler-toolbar {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 2;
	display: flex;
	justify-content: flex-end;
	&-debug {
		height: 2rem;
		margin-left: 0rem;
		box-shadow: 0 2px 5px rgba(22,23,26,.05);
		display: flex;
		align-items: center;
		font-family: monospace;
		font-size: 11px;
		background: white;
		.coord {
			padding: 0 1rem;
			&.prop {
				width: 100px;
				&:before {
					content: 'x: ';
				}
			}
			&.time {
				width: 100px;
				padding-left: 0;
				&:before {
					content: 'time: ';
				}
			}
			&.text {
				width: 100px;
				padding-left: 0;
				&:before {
					content: 'text: ';
				}
			}
		}
	}
}