.add-button-hide {
    display: none;
}

[data-field="subtitler"] .structure-entries thead tr th:first-child,
[data-field="subtitler"] .structure-entries tbody tr td:first-child {
    width: 40px;
}

[data-field="subtitler"] .structure-entry {
    position: relative;
}
[data-field="subtitler"] .structure-entries span.index {
    display: block;
    width: 28px;
    height: 28px;
    margin: 3px 5px 0 5px;
    text-align: center;
    padding: 0;
    line-height: 30px;
    font-size: 11px;
    border-radius: 50%;
}
[data-field="subtitler"] .structure-entries span.items-index {
    position: absolute;
    right: .5em;
    top: .5em;
}
[data-field="subtitler"] video {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}


/* Audio
------------------------*/

[data-field="subtitler"] audio {
    width: 100%;
    margin: 25px 0;
}
.subtitler-progressbar {
    margin-top: 40px;
}
.subtitler-buttons {
    margin: 25px 0 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.subtitler-btn {
    display: inline-block;
    vertical-align: middle;
}
.subtitler-btn.inactive {
    opacity: .2;
    pointer-events: none;
}
.subtitler-btn-blue {
    border-color: #2355CC;
    color: #2355CC;
}
.subtitler-btn-blue:hover {
    background-color: #2355CC;
}
.subtitler-btn-blue.filled {
    background-color: #2355CC;
    color: white;
    pointer-events: none;
}
.subtitler-btn:not(:last-of-type) {
    margin-right: 5px;
}


/* Progress bar
------------------------*/

.subtitler-hide {
    display: none;
}

.subtitler-progressbar {
    width: 100%;
    height: 15px;
}
.subtitler-duration {
    position: relative;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(135deg, #fafafa, #fafafa 0.25rem, #dddddd 0, #dddddd 0.5rem);
}
.subtitler-duration-text {
    position: absolute;
    right: 0;
    bottom: calc(100% + 13px);
    font-size: .8em;
    color: #AAAAAA;
}
.subtitler-progress {
    position: relative;
    width: 0;
    height: 100%;
    background: #cbdffb;
}
.subtitler-handle {
    position: absolute;
    background: #5688FF;
    color: white;
    font-size: 0.8em;
    left: 100%;
    padding: 3px 8px;
    bottom: calc(100% + 10px);
    border-radius: 5px;
    transform: translateX(-50%);
}
.subtitler-handle:before {
    content: " ";
    position: absolute;
    background: #5688FF;
    top: 100%;
    left: 50%;
    width: 2px;
    height: 25px;
}

.subtitler-subtitles {
    position: relative;
    width: 100%;
    height: 15px;
    counter-reset: subtitles; 
}
.subtitler-subtitle {
    position: absolute;
    left: 20%;
    width: 50px;
    height: 3px;
    background: #ff6645;
    list-style: none;
    z-index: -1;
}
.subtitler-subtitle:before {
    counter-increment: subtitles;
    content: counter(subtitles);
    position: absolute;
    background: #ff6645;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 7px;
    text-align: center;
    line-height: 20px;
    font-size: 11px;
    color: white;
    left: calc(50% - 9px);

}

.subtitler-start {
    position: absolute;
    background: #2355CC;
    color: white;
    font-size: 0.8em;
    left: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    bottom: calc(100% + 5px);
    border-radius: 50%;
    transform: translateX(-50%);
}
.subtitler-start:before {
    content: " ";
    position: absolute;
    background: #2355CC;
    top: 100%;
    left: 50%;
    width: 2px;
    height: 20px;
}
.subtitler-start:after {
    content: " ";
    position: absolute;
    background: white;
    border: 2px solid #2355CC;
    top: calc(100% + 15px);
    left: calc(50% - 6px);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.subtitler-end {
    position: absolute;
    background: #2355CC;
    color: white;
    font-size: 0.8em;
    left: 70%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    bottom: calc(100% + 5px);
    border-radius: 50%;
    transform: translateX(-50%);
}
.subtitler-end:before {
    content: " ";
    position: absolute;
    background: #2355CC;
    top: 100%;
    left: 50%;
    width: 2px;
    height: 20px;
}
.subtitler-end:after {
    content: " ";
    position: absolute;
    background: white;
    border: 2px solid #2355CC;
    top: calc(100% + 15px);
    left: calc(50% - 6px);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}


/* Buttons
-------------------------*/

.subtitler-btn-play {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    color: black;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    margin-right: 15px;
}
.subtitler-btn-play:hover {
    background: black;
}
.subtitler-btn-play:hover .subtitler-play {
    border-left-color: white;
}
.subtitler-btn-play:hover .subtitler-pause {
    border-color: white;
}

.subtitler-play {
    display: inline-block;
    width: 0; 
    height: 0; 
    margin-left: 4px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 11px solid black;
}
.subtitler-pause {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid black;
    border-width: 0 4px 0 4px;
}
.subtitler-play.subtitler-hide,
.subtitler-pause.subtitler-hide {
    display: none;
}



