/* Colors
---------------------*/

$color-dark: #16171a;
$color-light: #efefef;

$purple: #7a73a5;
$purple-light: #ece7ff;
$orange: #e19d45;
$orange-light: #fff1e8;
$blue: #7682bb;
$blue-light: #e1ecff;
$green: #7aba4b;
$green-light: #f1faed;
$red: #f93048;
$red-light: #feeaee;

$vibrant-blue: #2288e8;
$grey: darken(#dddddd, 45%);


/* Patterns
---------------------*/

$pattern: "data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXR0ZXJuIGlkPSJhIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHBhdHRlcm5Vbml0cz0idXNlclNwYWNlT25Vc2UiPjxwYXRoIGZpbGw9InJnYmEoMCwgMCwgMCwgMC4yKSIgZD0iTTAgMGgxMHYxMEgwem0xMCAxMGgxMHYxMEgxMHoiLz48L3BhdHRlcm4+PHJlY3QgZmlsbD0idXJsKCNhKSIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIvPjwvc3ZnPg==";